Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [2]:
data = [4,8,15,16,23,42]

In [4]:
k = pd.Series(data)
print(k)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
data1 = [1,2,3,4,5,6,7,8,9,10]

In [9]:
dt = pd.Series(data1)
print(dt)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:

In [10]:
ds = pd.DataFrame({'Name': ['Alice','Bob','Clair'],
                   'Age': [25,30,27],
                   'Gender':['Female','Male','Female']})

In [11]:
ds

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  Clair   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
Ans A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and 
    columns. We can perform basic operations on rows/columns like selecting, deleting, adding, and renaming.
    Series can only contain single list with index, whereas dataframe can be made of more than one series or we
    can say that a dataframe is a collection of series that can be used to analyse the data.

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
    you give an example of when you might use one of these functions?

In [ ]:
Ans The common functions we can use to manipulate data in Pandas dataframe are:
    head(),shape(),describe(),dropna(),merge(), .iloc(), .loc() etc

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Ans Dataframe and Panel are mutable in nature.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [33]:
name = pd.Series(['Aman','Ashok','Ram','Shyam','Mohan'])

In [34]:
age = pd.Series([24,23,21,20,23])

In [35]:
sub = pd.Series(['computers','electrical','civil','mechanical','it'])

In [43]:
df = pd.DataFrame([name,age,sub])

In [44]:
df

           0           1      2           3      4
0       Aman       Ashok    Ram       Shyam  Mohan
1         24          23     21          20     23
2  computers  electrical  civil  mechanical     it